*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  background-color: #f9f5f5;
  overflow-x: hidden;
}
/* ========================
         NAVBAR 
========================= */

header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  /* padding: 0px 20px; */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 130px;
}

.logo h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #007BFF;
  transition: all 0.4s ease;
}

.logo h1 span {
  color: #000;
  transition: all 0.4s ease;
}

.logo h1:hover span {
  color: #4400FF;
  cursor: pointer;
}

.logo h1:hover {
  color: #000;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: all 0.4s ease;
  font-weight: 500;
}

nav a:hover {
  color: #4400FF;
  cursor: pointer;
}

nav #close-1{
  display: none;
  font-size: 2rem;
    color: #000;
    position: absolute;
    top: 20px;
    right: 7%;  
}

.button-login .button {
  position: relative;
  overflow: hidden;
  margin-right: 60px;
  height: 2.4rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-login a{
  color: #fff;
  text-decoration: none;
}

.button-login .button:hover::before {
  transform: scaleX(1);
}

.button-login .button-content {
  position: relative;
  z-index: 1;
}

.button-login .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: #007aff;
  transition: all 0.475s;
}

.button-login .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  display: none;
  margin-right: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(5, 65, 65);
}

.button-login .sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-login .sign svg {
  width: 17px;
}

.button-login .sign svg path {
  fill: white;
}
.button-login .text {
  position: absolute;
  right: 0%;
  width: 0%;
  top: 10px;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
.button-login .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.button-login .Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.button-login .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.button-login .Btn:active {
  transform: translate(2px ,2px);
}

#hamburger {
  display: none;
  font-size: 1.3em;
  color: #000;
  cursor: pointer;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
      display: flex;
      position: fixed;
      top: 0;
      left: -100%;
      width: 90%;
      height: 100%;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      z-index: 9998;
  }

  nav.active {
      left: 0; 
  }

  nav #close-1{
    display: block;
  }

  nav a {
      padding: 10px 0;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #eee;
  }

  #hamburger {
      display: block;
  }

}

@media (max-width: 480px) {
  header {
    justify-content: space-around;
  }
  .logo img {
      width: 100px;
  }

  .button-login .Btn{
    margin-right: 10px;
  }

  .logo h1 {
      font-size: 1em;
  }
}


.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container {
    width: 50%;
    margin-right: 20px;
}

 h2 {
    font-size: 2.1rem;
    color: #333;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}

.contact-submit-button {
    width: 100%;
    padding: 12px;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-submit-button:hover {
    background-color: #005bb5;
}

.map-container {
    width: 45%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 439px){
.contact-container{
    justify-content: center;
}

.contact-form-container{
    width: 100%;
}

.map-container{
    width: 100%;
    margin-top: 40px;
}

}